* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1400px;
    padding-top: 3rem;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(222, 224, 225, 0.54);
}

#span {
    text-transform: uppercase;
}